// SCSS Variable's
$font-primary: 'SF Pro Display Regular', sans-serif;
$font-primary--ti: 'SF Pro Display Thin', sans-serif;
$font-primary--li: 'SF Pro Display Light', sans-serif;
$font-primary--md: 'SF Pro Display Medium', sans-serif;
$font-primary--sb: 'SF Pro Display Semibold', sans-serif;
$font-primary--bd: 'SF Pro Display Bold', sans-serif;
$font-primary--hv: 'SF Pro Display Heavy', sans-serif;

$font-secondary: 'KenyanCoffee Regular', sans-serif;



$color-primary:#4D056E;

$color-purple:#7367F0;

$color-blue:#36146B;

$color-sky:#C4FFFF;

$color-cyan:#00CFE8;

$color-blue-light:#9CC7FF;

$color-pink--light:#FF759B;

$color-danger:#EA5455;

$color-pink:#EB2999;

$color-orange:#FF8000;

$color-success:#28C76F;

$color-green:#015304;

$color-pest:#05FAC1;

$color-gray:#5E5873;

$color-black:#000000;

$color-white:#ffffff;

$color-off-white:#f8f8f8;